{% extends "base.html" %}

{% block title %}Search Movies{% endblock %}

{% block content %}
    <form action="{{ url_for('search_movies') }}" method="post">
        {{ form.csrf_token }}
        {{ form.search.label }}
        {{ form.search(class="form-control", placeholder="Search for a movie...") }}
        {{ form.submit(class="btn btn-primary") }}
    </form> 
    {% if movies %}
        <ul>
            {% for movie in movies %}
                <li><a href="{{ url_for('add_movies', title=movie.title)}}">{{ movie.title }} ({{ movie.release_date[:4] }})</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}